<form class="update" name="status_update" action="/" method="post">
  <% if @dude %>
  <input type="hidden" name="_method" value="put"></input>
  <% end %>
  <input type="hidden" name="slug" value="<%= dude_specified %>">

  <p class="name">
    <label for="dude_name">Who is this guy?</label>
    <input id="dude_name" name="name" type="text" autofocus value="<%= @dude.name if @dude %>"/>
  </p>
  <p class="buttons">
    <label>Does he have a beard?</label>
    <button name="status" type="submit" class="btn large red" value="Yes">Yes</button>
    <button name="status" type="submit" class="btn large red" value="No">No</button>    
  </p>
</form>