<div class="status-list">
  <dl class="beards">
    <dt>
      <div class="bubble bottom">
        <p>YES</p>
      </div>
    </dt>
    <dd>
      <ul>
        <% @beards.each do |dude| %>
          <li><a href="<%= status_url(dude.slug) %>"><%= dude.display_name %></a></li>
        <% end %>
      </ul>
    </dd>
  </dl>
  <dl class="faces">
    <dt>
      <div class="bubble bottom">
        <p>NO</p>
      </div>
    </dt>
    <dd>
      <ul>
        <% @faces.each do |dude| %>
          <li><a href="<%= status_url(dude.slug) %>"><%= dude.display_name %></a></li>
        <% end %>
      </ul>
    </dd>
  </dl>
</div>