<!DOCTYPE html">
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beard Status</title>
    <%= stylesheet_link_tag "/css/master.css", :media => :screen %>
    <%= stylesheet_link_tag "/css/reset.css", :media => :screen %>
    <% if @dude %>
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for <%= dude_specified %>" href="/rss.xml" />  
    <% else %>
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for Beard Status" href="/rss.xml" />  
    <% end %>
    
    <script src="js/libs/modernizr-1.6.min.js"></script>
  </head>
  <body>
    <header>
      <h1><a href="http://beardstatus.com">Beard Status</a></h1>
      <nav><a href="http://beardstatus.com/new">Add Your Status</a></nav>
    </header>
    <div class="content">
      <%= yield %>  
    </div>
    <footer>
      <p>
        Brought to you by <a href="http://twitter.com/jeffxl">@jeffxl</a>
      </p>
      <p>
        <a href="http://github.com/jkeen/beard-status/issues">Report An Issue</a>
      </p>
    </footer>
    
    <script>
     var _gaq = [['_setAccount', 'UA-17188002-1'], ['_trackPageview']];
     (function(d, t) {
      var g = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      g.async = true;
      g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g, s);
     })(document, 'script');
    </script>
  </body>
</html>