<!DOCTYPE html">
<head>
  <title>Beard Status</title>
  <%= stylesheet_link_tag "/css/master.css", :media => :screen %>
  <%= stylesheet_link_tag "/css/reset.css", :media => :screen %>
  <% if @dude %>
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for <%= dude_specified %>" href="/rss.xml" />
  <% end %>
  
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-17188002-1']);
    _gaq.push(['_setDomainName', '.beardstatus.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
  <header>
    <h1><a href="http://beardstatus.com">Beard Status</a></h1>
    <nav><a href="http://beardstatus.com/new">Add Your Status</a></nav>
  </header>
  <div class="content">
    <%= yield %>  
  </div>
  <footer>
    <p>
      Brought to you by <a href="http://twitter.com/jeffxl">@jeffxl</a>
    </p>
    <p>
      <a href="http://github.com/jkeen/beard-status/issues">Report An Issue</a>
    </p>
  </footer>
</body>